p1 {
    color: white;
    background-color: red;
    padding: 10px;
    border: 10px solid plum;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}